
<div class="py-5 border-top">
  <div class="container">


    <div class="row">

      <div class="col-sm">
        <ul class="list-unstyled">
          <li>
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.description | escape }}
            {%- endif -%}
          </li>
          {%- if site.email -%}
            <li>
              <a href="mailto:{{ site.email }}">
                {{ site.email }}
              </a>
            </li>
          {%- endif -%}
        </ul>
      </div>

      <div class="col-sm text-right">
        {% if site.tagline %}<p>{{- site.tagline | escape -}}</p>{% endif %}
      </div>

    </div>

  </div>
</div>

<!-- Fathom - simple website analytics - https://github.com/usefathom/fathom -->
<script>
(function(f, a, t, h, o, m){
  a[h]=a[h]||function(){
    (a[h].q=a[h].q||[]).push(arguments)
  };
  o=f.createElement('script'),
  m=f.getElementsByTagName('script')[0];
  o.async=1; o.src=t; o.id='fathom-script';
  m.parentNode.insertBefore(o,m)
})(document, window, '//fathom.tdvm.net/tracker.js', 'fathom');
fathom('set', 'siteId', 'OEFMF');
fathom('trackPageview');
</script>
<!-- / Fathom -->
