<head>
 <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%- seo -%}
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  {%- feed_meta -%}
  <script defer src="{{ "/assets/javascript/bootstrap/jquery.min.js" | relative_url }}"></script>
  <script defer src="{{ "/assets/javascript/bootstrap/bootstrap.bundle.min.js" | relative_url }}"></script>
  <script defer src="https://buttons.github.io/buttons.js" integrity="sha384-szBDCttiBKEqclgvjfm0xu/GOyoGJH3pVG2Ptr69bXpDc9ZU0Ed0BYkeZZ98F7Ym" crossorigin="anonymous"></script>

  <!-- Fathom - simple website analytics - https://github.com/usefathom/fathom -->
  <script>
  (function(f, a, t, h, o, m){
  	a[h]=a[h]||function(){
  		(a[h].q=a[h].q||[]).push(arguments)
  	};
  	o=f.createElement('script'),
  	m=f.getElementsByTagName('script')[0];
  	o.async=1; o.src=t; o.id='fathom-script';
  	m.parentNode.insertBefore(o,m)
  })(document, window, 'https://fathom.tdvm.net/tracker.js', 'fathom');
  fathom('set', 'siteId', 'OEFMF');
  fathom('trackPageview');
  </script>
  <!-- / Fathom -->


</head>
