<head>
 <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%- seo -%}
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  {%- feed_meta -%}
  <script defer src="{{ "/assets/javascript/bootstrap/jquery.min.js" | relative_url }}"></script>
  <script defer src="{{ "/assets/javascript/bootstrap/bootstrap.bundle.min.js" | relative_url }}"></script>
  <script src="https://gitbuttons.tedivm.com/buttons.js" integrity="sha384-dl0n4CP/gJsA31+mtSe2Gc0FbNR6oq2Ox4HHwEq6LTiZEPRMTzj87lXYl2l/w+KQ" crossorigin="anonymous"></script>
  {% if site.plausible_domain %}
    <script defer data-domain="{{ site.plausible_domain }}" src="https://plausible.io/js/plausible.js"></script>
  {%- endif -%} 
</head>
