---
layout: page
columns: 3
---
{{ content }}
{% for category in site.data.projects %}
<div class='row'>
  <div class='col-12 my-3'>
    <h3>{{ category.name }}</h3>
    {% if category.description %}
    <div class="alert alert-light">{{ category.description | safe | newline_to_br }}</div>
    {% endif %}
    {%- assign layout.columns = 3 -%}
    {% for project in category.projects %}
      {% assign loop = forloop.index | minus: 1 | modulo: layout.columns %}
      {% if loop == 0 %}
      <div class="row">
      {% endif %}
        <div class="col-12 col-sm-6 col-xl-{{ 12 | divided_by: layout.columns | int }} my-3">
          <div class="card">
            <div class="text-center">
            {% if project.image %}
              <img src="{{ "/assets/images/projects" | relative_url }}/{{ project.image }}" class="py-1 w-50 card-img-top" alt="{{ project.name }} Project Logo">
            {% elsif project.icon %}
              <i class="{{ project.icon}} fa-10x py-2 logo-icon"></i><br><br>
            {% elsif category.image %}
              <img src="{{ "/assets/images/projects" | relative_url }}/{{ category.image }}" class="py-1 w-50 card-img-top" alt="{{ project.name }} Project Logo">
            {% elsif category.icon %}
              <i class="{{ category.icon}} fa-10x py-2 logo-icon"></i><br><br>
            {% else %}
              <i class="fas fa-code-branch fa-10x py-2 logo-icon"></i><br><br>
            {% endif %}
            </div>
            <div class="card-body">
              <h5 class="card-title">{{ project.name }}
              {% if project.github %}
              <div class="float-right"><a class="github-button" href="https://github.com/{{ project.github }}" data-show-count="true" aria-label="Star {{ project.name }} on GitHub">Star</a><div>
              {% endif %}
              </h5>
              {% if project.description %}
              <p class="card-text">{{ project.description | safe | newline_to_br }}</p>
              {% endif %}
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item text-center">
                {% if project.homepage %}<a href="{{ project.homepage }}" class="card-link"><i class="fas fa-home fa-2x" title="{{ project.name }} Homepage"></i></a>{% endif %}
                {% if project.documentation %}<a href="{{ project.documentation }}" class="card-link"><i class="fas fa-book-open fa-2x" title="{{ project.name }} Documentation"></i></a>{% endif %}
                {% if project.github %}<a href="https://github.com/{{ project.github }}" class="card-link"><i class="fab fa-github fa-2x" title="{{ project.name }} on Github"></i></a>{% endif %}
                {% if project.dockerhub %}<a href="https://hub.docker.com/r/{{ project.dockerhub }}" class="card-link"><i class="fab fa-docker fa-2x" title="{{ project.name }} on Docker Hub"></i></a>{% endif %}
                {% if project.ghcr %}
                  {% assign ghcr_project = project.ghcr | split: '/' | last %}
                  <a href="https://github.com/{{ project.ghcr }}/pkgs/container/{{ ghcr_project }}" class="card-link"><i class="fab fa-docker fa-2x" title="{{ ghcr_project }} on Github Container Registry"></i></a>
                {% endif %}
                {% if project.puppet_forge %}<a href="https://forge.puppet.com/{{ project.puppet_forge }}" class="card-link"><i class="fas fa-flask fa-2x" title="{{ project.name }} on Puppet Forge"></i></a>{% endif %}
                {% if project.npm %}<a href="https://www.npmjs.com/package/{{ project.npm }}" class="card-link"><i class="fab fa-npm fa-2x" title="{{ project.name }} on the NPM Registry"></i></a>{% endif %}
                {% if project.pypi %}<a href="https://pypi.org/project/{{ project.pypi }}/" class="card-link"><i class="fab fa-python fa-2x" title="{{ project.name }} on PyPI"></i></a>{% endif %}
                {% if project.packagist %}<a href="https://packagist.org/packages/{{ project.packagist }}" class="card-link"><i class="fab fa-php fa-2x" title="{{ project.name }} on Packagist"></i></a>{% endif %}
                {% if project.rubygems %}<a href="https://rubygems.org/gems/{{ project.rubygems }}/" class="card-link"><i class="fas fa-gem fa-2x" title="{{ project.name }} on RubyGems"></i></a>{% endif %}
                {% if project.wordpress %}<a href="https://wordpress.org/plugins/{{ project.wordpress }}/" class="card-link"><i class="fab fa-wordpress fa-2x" title="{{ project.name }} on the Wordpress Plugin Directory"></i></a>{% endif %}
              </li>
            </ul>
          </div>
        </div>
      {%- assign last_loop = layout.columns | minus: 1 -%}
      {% if loop == last_loop or forloop.last == true %}
      </div>
      {%- endif -%}
    {%- endfor -%}
  </div>
</div>

{% endfor %}
